@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-violet-50 text-indigo-950 font-sans antialiased;
  }

  /* Scrollbar custom */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #F5F3FF;
  }

  ::-webkit-scrollbar-thumb {
    background: #C4B5FD;
    border-radius: 99px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #7C3AED;
  }
}